---
layout: gallery-layout
title: Gallery
---
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<style>
h1 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}

</style>

<style type="text/css">
#centered_button { display: flex; justify-content: center; }
</style>

<h1>Gallery</h1>
<br>
<p>This is all artwork I've either paid for or have been gifted. I am not an artist and I can't draw.</p>
<br>

<div id=centered_button>
    <button>Show NSFW content</button>
</div>
<br>
<h3>Commissions</h3>
<br>
<div class="row">
    <div class="column">
        <a href="/assets/img/Commissions/lilchu.numou.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.numou_tn.jpg" title="My first commission of Numou!">
        </a>
        <a href="/assets/img/Commissions/lilchu.fireball.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.fireball_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/goronic.numou.png" data-fancybox="commissions" data-caption="by Goronic">
        <img src="/assets/img/Commissions/tn/goronic.numou_tn.png">
        </a>
        <a href="/assets/img/Commissions/lilchu.chutora.jpg" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.chutora_tn.jpg">
        </a>
        
        <div class="nsfw">
            <a href="/assets/img/NSFW/drjoshfox.pip.jpg" data-fancybox="nsfw" data-caption="by DrJoshFox">
            <img src="/assets/img/NSFW/tn/drjoshfox.pip_tn.jpg">
            </a>
        </div>

        
    </div>
    <div class="column">
        <a href="/assets/img/Commissions/SethVerm.bunny.png" data-fancybox="commissions" data-caption="by Seth Verm">
        <img src="/assets/img/Commissions/tn/SethVerm.bunny_tn.jpg" title="The first version of my bunny character. He gets horns and a tail later!">
        </a>
        <a href="/assets/img/Commissions/drjoshfox.bun.png" data-fancybox="commissions" data-caption="by DrJoshFox">
        <img src="/assets/img/Commissions/tn/drjoshfox.bun_tn.jpg" title="A revised version of my bunny character; more imp-like!">
        </a>
        <a href="/assets/img/Commissions/lilchu.crash.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.crash_tn.jpg">
        </a>

        <div class="nsfw">
            <a href="/assets/img/NSFW/kairix.lineup.png" data-fancybox="nsfw" data-caption="by Kairix Shadowklaw">
            <img src="/assets/img/NSFW/tn/kairix.lineup_tn.jpg">
            </a>
            <a href="/assets/img/NSFW/lilchu.police.rocketraccoon.png" data-fancybox="nsfw" data-caption="by LilChu">
            <img src="/assets/img/NSFW/tn/lilchu.police.rocketraccoon_tn.jpg">
            </a>
        </div>

    </div>
    <div class="column">
        <a href="/assets/img/Commissions/SethVerm.numou.png" data-fancybox="commissions" data-caption="by Seth Verm">
        <img src="/assets/img/Commissions/tn/SethVerm.numou_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/lilchu.birthday.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.birthday_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/seiryuuden.numou.png" data-fancybox="commissions" data-caption="by Seiryuuden">
        <img src="/assets/img/Commissions/tn/seiryuuden.numou_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/lilchu.chutora.jpg" data-fancybox="commissions" data-caption="by LilChu">
        </a>
        <a href="/assets/img/Commissions/vir.hoodie.png" data-fancybox="commissions" data-caption="by VirNoVigoratus">
        <img src="/assets/img/Commissions/tn/vir.hoodie_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/lilchu.nick.finnick.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.nick.finnick_tn.jpg">
        </a>

        <div class="nsfw">
            <a href="/assets/img/NSFW/rrbigbang.paws.jpg" data-fancybox="nsfw" data-caption="by ReallyReallyBigBang">
            <img src="/assets/img/NSFW/tn/rrbigbang.paws_tn.jpg"></a>
        </div>


    </div>
    <div class="column">
        <a href="/assets/img/Commissions/lilchu.booze.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.booze_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/lilchu.chase.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.chase_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/TheLivingShadow-numou.jpg" data-fancybox="commissions" data-caption="by The Living Shadow">
        <img src="/assets/img/Commissions/tn/TheLivingShadow-numou_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/lilchu.strip.poker.jpg" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.strip.poker_tn.jpg">
        </a>
        <a href="/assets/img/Commissions/lilchu.jos.png" data-fancybox="commissions" data-caption="by LilChu">
        <img src="/assets/img/Commissions/tn/lilchu.jos_tn.jpg"></a>

        <div class="nsfw">
            <a href="/assets/img/NSFW/drjoshfox.crow.jpg" data-fancybox="nsfw" data-caption="by DrJoshFox">
            <img src="/assets/img/NSFW/tn/drjoshfox.crow_tn.jpg">
            </a>
            <a href="/assets/img/NSFW/lilchu.kami.png" data-fancybox="nsfw" data-caption="by LilChu">
            <img src="/assets/img/NSFW/tn/lilchu.kami_tn.jpg">
            </a>
            <a href="/assets/img/NSFW/lilchu.police.chu.png" data-fancybox="nsfw" data-caption="by LilChu">
            <img src="/assets/img/NSFW/tn/lilchu.police.chu_tn.jpg"></a>

        </div>
    </div>
</div>

<br>

<h3>Gift Art</h3>
<br>

<div class="row">
    <div class="column">

        <a href="/assets/img/Gift Art/goronic.rocketraccoon.png" data-fancybox="gift-art" data-caption="by Goronic">
        <img src="/assets/img/Gift Art/tn/goronic.rocketraccoon_tn.jpg">
        </a>

    </div>

    <div class="column">

        <a href="/assets/img/Gift Art/jazzy.numou.png" data-fancybox="gift-art" data-caption="by Jazzy Sparks">
        <img src="/assets/img/Gift Art/tn/jazzy.numou_tn.jpg">
        </a>

        <div class="nsfw">
            <a href="/assets/img/NSFW/scuzzyfox.jos.jpg" data-fancybox="gift-art-nsfw" data-caption="by ScuzzyFox">
            <img src="/assets/img/NSFW/tn/scuzzyfox.jos_tn.jpg">
            </a>
        </div>

    </div>

    <div class="column">

        <a href="/assets/img/Gift Art/jazzy.charizard.png" data-fancybox="gift-art" data-caption="by Jazzy Sparks">
        <img src="/assets/img/Gift Art/tn/jazzy.charizard_tn.jpg">
        </a>

        <div class="nsfw">
            <a href="/assets/img/NSFW/Ximon.superheroimp.jpg" data-fancybox="gift-art-nsfw" data-caption="by ImpXimon">
            <img src="/assets/img/NSFW/tn/Ximon.superheroimp_tn.jpg">
            </a>
        </div>

    </div>

    <div class="column">

        <a href="/assets/img/Gift Art/silverdragon.azul.jpg" data-fancybox="gift-art" data-caption="by SilverDragon">
        <img src="/assets/img/Gift Art/tn/silverdragon.azul_tn.jpg">
        </a>

    </div>

</div>

<script>
    $("button").click(function(){
      $("div").removeClass("nsfw");
      $("button").hide();
      
});
</script>