// Color scheme for light and dark modes.

$light: #ff0066;
$dark: #1ba77e;

// Highlighting color for code block borders and language name.

$code-light: #ff0066;
$code-dark: #d0f6db;

$message-green: #62bb47;
$message-yellow: #fcb827;
$message-orange: #f6821f;
$message-red: #e03940;
$message-purple: #953c96;
$message-blue: #009ddc;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: rgba(0,0,0,.8);
$body-bg: rgba(0,0,0,.03);
$body-color-dark: hsla(0,0%,100%,.8);
$body-bg-dark: rgba(0,0,0,.9);

$large-breakpoint: 38em;
$large-font-size: 20px;

// Midnight color scheme

$midnight-text-color: rgba(0,0,0,.8);
$midnight-text-color-dark: hsla(0,0%,100%,.8);
$midnight-body-bg: #FFFFFF;
$midnight-body-bg-dark: rgba(0,0,0,.9);
$midnight-accent-light: rgba(10,132,255,1.0);
$midnight-accent-dark: rgba(10,132,255,1.0);
$midnight-code-light: rgba(10,132,255,1.0);
$midnight-code-dark: rgba(10,132,255,1.0);
$midnight-header-light: #838383;
$midnight-header-dark: #C0C0C0;
