---
layout: compress
---

<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
	  
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><br>
          <small>{{ site.tagline }}</small>
        </h3>
		
		<!-- Change navigation links here -->
		<div class="navigation">
		<ul id="navigation-list">
    <li><a href="/about/">about</a></li>
		<li><a href="/archive/">archive</a></li>
		<li><a href="/tags/">tags</a></li>
		<li><a href="/categories/">categories</a></li>
    <li><a href="/gallery/">gallery</a></li>
		</ul>
		</div>
		
      </header>

      <main>
        {{ content | smartify }}
      </main>

      <footer class="footer">
        <p><a href="https://github.com/essentialenemy/noir/">Noir</a> theme for <a href="https://jekyllrb.com/">Jekyll</a>
		<br><a href="https://github.com/essentialenemy/noir/blob/master/LICENSE.md">Released under MIT License</a></p>
      </footer>
    </div>

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
