---
layout: default
---

<article class="post">
{% if page.link %}
<h1 class="post-title"><a href="{{ page.link }}">
  {{ page.title | smartify }} <span class="link-arrow">&rarr;</span></a>
</h1>
  {% else %}
<h1 class="post-title">{{ page.title | smartify }}</h1>
  {% endif %}
  
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_long_string: "ordinal", "US" }}
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  in <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  {%- if page.last_modified_at -%}
  <br><i>Last updated on: {{ page.last_modified_at | date_to_long_string: "ordinal", "US" }}</i>
  {%- endif -%}
  </time>{% if page.link %}<span class="external-link">External Link</span>{% endif %}
  
  {{ content | smartify }}
  
  <br>
  <div class="tag-list">
  {% if post %}
  {% assign tags = post.tags %}
  {% else %}
  {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">#{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </div>

</article>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">← Previous</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">Next →</a>
  {% endif %}
</div>

<!-- {% if site.related_posts != empty %}
<aside class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title | smartify }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string: "ordinal", "US" }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %} -->
